.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login__logo-img{
    height: 120px;
}

.login__link{
    padding: 20px 80px;
    border-radius: 100px;
    background-color: #1db954;
    font-weight: 900;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
}